In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [10]:
df['a'],df.iloc[:,0]

(0    1
 1    2
 2    3
 Name: a, dtype: int64, 0    1
 1    2
 2    3
 Name: a, dtype: int64)

In [8]:
df.iloc[0]

a    1
b    4
c    7
Name: 0, dtype: int64

In [9]:
df.loc[0]

a    1
b    4
c    7
Name: 0, dtype: int64